.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #758ad7;
    color: white;
    .container{
        width: 1400px;
        display: flex;
        align-items: center;
    }
    .left{
        display: flex;
        flex-direction: column;
        gap: 30px;


        h1{
            font-size: 50px;

            i{
                font-weight: 400;
            }

            
            
        }

        h2{
            font-weight: 200;
            
            i{
                
                font-size: 50px;
            }
        }

        .search{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 5px;
            .searchInput{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    width: 20px;
                    height: 20px;
                    margin: 10px;
                }
                input{
                    border: none;
                    outline: none;
                    font-size: 20px;
                    font-weight: 600;
                }

            }
            button{
                width: 120px;
                height: 50px;
                border: none;
                outline: none;
                background-color: #3753b6;
                cursor: pointer;

            }
        }
        .popular{
            display: flex;
            align-items: center;
            gap: 10px;
            span{

            }
            button{
                color: white;
                background-color: transparent;
                border: 1px solid white;
                padding: 5px 10px;
                border-radius: 20px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    .right{
        height: 100%;

        img{
            height: 600px;
            width: 600px;
            object-fit: contain;
        }
    }
}